:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --text-light-gray-color: #999;
  --primary-color: #962bfa;
  --primary-hover-color: #a445fc;
  --sub-color: #fb89dd;
  --border-color: #dbdbdb;
  --option-item-hover-color: #f3f3f3;
  --star-gold-color: #ffce3e;
  --header-height: 150px;
  --navbar-height: 34px;
  --header-with-search-height: calc(
    var(--header-height) - var(--navbar-height)
  );
  --header-sort-bar-height: 46px;
  --box-shadow-default: 1px 2px 3px #c2c2c2;
  --border-radius-default: 3px;
  --arrow-size-default: 15px 25px;
  --arrow-top-position-default: -24px;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--grow-from));
  }

  to {
    transform: scale(var(--grow-to));
  }
}

@keyframes growtWithOpacity {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}


/* Select input */
.select-input {
  position: relative;
  min-width: 200px;
  height: 34px;
  padding: 0 12px;
  border-radius: var(--border-radius-default);
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-input:hover .select-input__list {
  display: block !important;
}

.select-input__label {
  font-size: 1.4rem;
}

.select-input__icon {
  font-size: 1.4rem;
  color: #4a4a4a;
  position: relative;
  top: 1px;
}

.select-input__list {
  position: absolute;
  left: 0;
  right: 0;
  top: 27px;
  border-radius: var(--border-radius-default);
  background-color: var(--white-color);
  list-style-type: none;
  padding: 0;
  display: none;
  animation: fadeIn ease-in 0.2s;
  z-index: 1;
}

.select-input__link {
  font-size: 1.2rem;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 10px 16px;
}

.select-input__link:hover {
  background-color: var(--option-item-hover-color);
}

/* Pagination */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.pagination-item {
  margin: 0 12px;
}

.pagination-item--active .pagination-item__link {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
  background-color: var(--primary-hover-color);
}

.pagination-item__link {
  --height: 30px;
  display: block;
  text-decoration: none;
  font-size: 2rem;
  color: var(--text-light-gray-color);
  min-width: 40px;
  height: var(--height);
  text-align: center;
  line-height: var(--height);
  border-radius: var(--border-radius-default);
}
