.header {
  height: var(--header-height);
  background-image: linear-gradient(90deg,
      var(--sub-color),
      var(--primary-color));
}

/* Header navbar */
.header__navbar {
  display: flex;
  justify-content: space-between;
  height: var(--navbar-height);
}

.header__navbar-list {
  margin: 4px 0 0 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-item--show-qr:hover .header__qr {
  display: block;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.3rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: flex;
  align-items: center;
}

.header__navbar-icon-link:first-child {
  margin-left: 3px;
}

.header__navbar-item--strong {
  font-weight: 500;
}

/* Tạo gạch thẳng đứng ngăn cách giữa item */

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fb9086;
  height: 14px;
  right: -9px;
  top: 5px;
}

.header__navbar-icon-link {
  text-decoration: none;
  color: var(--white-color);
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 5px;
}

.header__navbar-title--no-pointer {
  cursor: text;
}

/* Remove default hover của .header__navbar-item:hover */
.header__navbar-title--no-pointer:hover {
  cursor: text;
  color: var(--white-color);
}

/* Header QR Code */
.header__qr {
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  padding: 8px;
  /*100% chiều cao của parent chứa */
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.2s;
}

.header__qr::before {
  content: "";
  width: 100%;
  display: block;
  height: 20px;
  top: -10px;
  left: 0;
  position: absolute;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
  padding: 0 11px;
  flex-wrap: wrap;
  align-content: space-between;
  height: 35px;
}

.header__qr-download-img {
  height: 15px;
}

/* Header notification */
.header__navbar-item--show-notify:hover .header__notify {
  display: block;
}

.header__notify {
  position: absolute;
  top: calc(100% + 4px);
  right: 0;
  width: 404px;
  background-color: var(--white-color);
  border-radius: var(--border-radius-default);
  cursor: default;
  box-shadow: var(--box-shadow-default);
  /* transform-origin để set vị trí bắt đầu cho animation growth ở giữa label Thông báo  */
  transform-origin: calc(100% - 40px) top;
  animation: growtWithOpacity ease-in 0.2s;
  display: none;
  z-index: 1;
}

/* Làm dấu mũi tên ^ trỏ vào chữ thông báo cho bảng thông báo */
.header__notify::before {
  content: "";
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent var(--white-color);
  position: absolute;
  top: -29px;
  right: 2px;
}

.header__notify::after {
  content: "";
  display: block;
  position: absolute;
  width: 150px;
  height: 20px;
  right: 0;
  top: -16px;
}

.header__notify-header {
  height: 40px;
  border-top-left-radius: var(--border-radius-default);
  border-top-right-radius: var(--border-radius-default);
  background-color: var(--white-color);
  cursor: default;
}

.header__notify-header h3 {
  color: var(--text-light-gray-color);
  margin: 0 0 0 12px;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 40px;
  user-select: none;
}

.header__notify-list {
  padding-left: 0;
}

.header__notify-item {
  background-color: rgba(211, 137, 241, 0.272);
}

.header__notify-item--seen {
  background-color: var(--white-color);
}

.header__notify-item:hover {
  background-color: var(--option-item-hover-color);
}

.header__notify-link {
  display: flex;
  padding: 12px;
  text-decoration: none;
  width: 100%;
}

.header__notify-img {
  width: 48px;
  object-fit: contain;
}

.header__notify-info {
  flex: 1;
  margin-left: 12px;
}

.header__notify-name {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.8rem;
}

.header__notify-description {
  display: block;
  font-size: 1.2rem;
  color: #756f6e;
  line-height: 1.6rem;
  margin-top: 4px;
}

.header__notify-footer {
  text-align: center;
}

.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 8px 0;
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
}

/* User info */
.header__navbar-item--show-user-info {
  position: relative;
}

.header__navbar-item--show-user-info:hover .header__navbar-item-user-menu {
  display: block;
}

.header__navbar-item-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid #debdfc;
}

.header__navbar-item-user-name {
  margin-left: 4px;
  font-size: 1.4rem;
  font-weight: 400;
}

.header__navbar-item-user-menu {
  position: absolute;
  padding: 0;
  top: 100%;
  right: 0;
  width: 130px;
  background-color: var(--white-color);
  border-radius: var(--border-radius-default);
  list-style-type: none;
  z-index: 1;
  box-shadow: var(--box-shadow-default);
  margin-top: 4px;
  transform-origin: calc(100% - 40px) top;
  animation: growtWithOpacity ease-in 0.2s;
  display: none;
}

.header__navbar-item-user-menu::before {
  content: "";
  border-width: 15px 25px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  top: -22px;
  right: 10px;
  display: block;
  position: absolute;
}

.header__navbar-item-user-menu::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 80px;
  top: -10px;
  left: 20px;
}

.header__navbar-item-user-menu-item--separate {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.header__navbar-item-user-menu-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 8px;
  display: block;
}

.header__navbar-item-user-menu-item a:hover {
  background-color: var(--option-item-hover-color);
}

.header__navbar-item-user-menu-item:first-child a {
  border-top-left-radius: var(--border-radius-default);
  border-top-right-radius: var(--border-radius-default);
}

.header__navbar-item-user-menu-item:last-child a {
  border-bottom-left-radius: var(--border-radius-default);
  border-bottom-right-radius: var(--border-radius-default);
}

/* Auth Modal */
/* Register form */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}

.auth-form__form {
  width: 100%;
}

.auth-form__group {
  width: 100%;
  margin-top: 16px;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-default);
  outline: none;
}

.auth-form__input:focus {
  border-color: #777;
}

.auth-form__aside {
  margin-top: 18px;
}

.auth-form__policy-text {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.auth-form__text-link {
  color: var(--primary-color);
  text-decoration: none;
}

.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__controls-back {
  margin-right: 8px;
}

.auth-form__socials {
  background-color: var(--option-item-hover-color);
  padding: 16px 36px;
  margin-top: 16px;
  display: flex;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
}

.auth-form__socials-facebook {
  color: var(--white-color);
  background-color: #3a5a98;
  flex: 1;
}

.auth-form__socials-google {
  background-color: var(--white-color);
  color: #666;
  margin-left: 8px;
  flex: 1;
}

.auth-form__controls-title {
  margin: auto;
}

/* Login form */
.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #939393;
}

.auth-form__help-forgot {
  color: var(--primary-color);
}

.auth-form__help-separate {
  border: 1px solid #eaeaea;
  margin: 0 16px;
}

.auth-form__socials-sms {
  background-color: rgb(2, 177, 25);
  color: var(--white-color);
  margin-right: 8px;
  flex: 1;
}

/* Header with search */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
}

/* Logo */
.header__logo {
  width: 200px;
}

.header__logo-link {
  text-decoration: none;
  color: transparent;
}

.header__logo-img {
  width: 200px;
}

/* Search bar */

.header__search-bar {
  background-color: var(--white-color);
  flex: 1;
  height: 40px;
  margin-left: 32px;
  border-radius: var(--border-radius-default);
  display: flex;
  align-items: center;
}

.header__search-bar-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-bar-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 16px;
  color: var(--text-color);
  border-radius: var(--border-radius-default);
  font-size: 1.4rem;
}

.header__search-bar-input:focus~.header__search-bar-history {
  display: block;
  animation: fadeIn ease-in 0.2s;
}

/* Search history */
.header__search-bar-history {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: var(--border-radius-default);
  box-shadow: var(--box-shadow-default);
  display: none;
}

.header__search-bar-history-heading {
  margin: 16px 8px 8px 8px;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-light-gray-color);
}

.header__search-bar-history-list {
  list-style-type: none;
  padding-left: 0;
  margin: 6px 0 0 0;
}

.header__search-bar-history-item {
  height: 38px;
  padding: 0 8px;
}

.header__search-bar-history-item:last-child {
  border-bottom-left-radius: var(--border-radius-default);
  border-bottom-right-radius: var(--border-radius-default);
}

.header__search-bar-history-item:hover {
  background-color: var(--option-item-hover-color);
}

.header__search-bar-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 38px;
  display: block;
}

/* Search button */
.header__search-bar-btn {
  height: 34px;
  margin-right: 3px;
  min-width: 0;
  width: 60px;
}

.header__search-bar-btn-icon {
  font-size: 1.4rem;
  color: var(--white-color);
}

/* Search bar select */
.header__search-bar-select {
  border-left: 1px solid #ccc;
  padding-left: 16px;
  height: 60%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.header__search-bar-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-bar-select-icon {
  font-size: 1.4rem;
  color: #4a4a4a;
  margin: 0 8px 0 4px;
  position: relative;
  top: 1px;
}

.header__search-bar-select:hover .header__search-bar-option {
  display: block;
}

.header__search-bar-option {
  padding-left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  list-style-type: none;
  width: 140px;
  border-radius: var(--border-radius-default);
  background-color: var(--white-color);
  box-shadow: var(--box-shadow-default);
  display: none;
  animation: fadeIn ease-in 0.2s;
}

.header__search-bar-option::before {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  position: absolute;
  top: -10px;
  right: 0;
}

.header__search-bar-option-item {
  background-color: var(--white-color);
  padding: 8px;
}

.header__search-bar-option-item:first-child {
  border-top-left-radius: var(--border-radius-default);
  border-top-right-radius: var(--border-radius-default);
}

.header__search-bar-option-item:last-child {
  border-bottom-left-radius: var(--border-radius-default);
  border-bottom-right-radius: var(--border-radius-default);
}

.header__search-bar-option-item:hover {
  background-color: var(--option-item-hover-color);
  cursor: pointer;
}

.header__search-bar-option-item-span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}

.header__search-bar-option-item .header__search-bar-option-item-icon {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin: 0 0 0 4px;
  display: none;
}

.header__search-bar-option-item--active .header__search-bar-option-item-icon {
  display: inline-block;
}

/* Cart */
.header__cart {
  width: 150px;
  text-align: center;
}

.header__cart-wrap {
  position: relative;
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
}

.header__cart-icon {
  font-size: 2.4rem;
  color: var(--white-color);
}

.header__cart-number-badge {
  position: absolute;
  padding: 2px 4px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: var(--primary-color);
  background-color: var(--white-color);
  border-radius: 50%;
  top: -12px;
  right: -5px;
  border: 2px solid var(--primary-color);
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
}

.header__cart-list {
  position: absolute;
  top: calc(100% + 10px);
  right: -13px;
  background-color: var(--white-color);
  width: 400px;
  min-height: 30px;
  border-radius: var(--border-radius-default);
  text-align: center;
  box-shadow: var(--box-shadow-default);
  display: none;
  transform-origin: calc(100% - 40px) top;
  animation: growtWithOpacity ease-in 0.2s;
  cursor: default;
}

.header__cart-list::before {
  content: "";
  border-width: 20px 26px;
  border-style: solid;
  border-color: transparent transparent var(--white-color);
  position: absolute;
  right: 6px;
  top: -30px;
  cursor: pointer;
}

.header__cart-list::after {
  content: "";
  width: 100px;
  height: 10px;
  position: absolute;
  right: 0px;
  top: -10px;
}

.header__cart-list--empty {
  padding: 30px 0;
}

.header__cart-list--empty .header__cart-no-cart-img,
.header__cart-list--empty .header__cart-no-cart-text {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header__cart-no-cart-img {
  margin-bottom: 30px;
  display: none;
}

.header__cart-no-cart-text {
  display: none;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  color: var(--text-color);
}

/* Cart item */
.header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  color: var(--text-light-gray-color);
  font-weight: 400;
  font-size: 1.4rem;
}

.header__cart-list-items {
  padding-left: 0;
  list-style-type: none;
}

.header__cart-item {
  display: flex;
  align-items: stretch;
  text-decoration: none;
  cursor: default;
}

.header__cart-item:hover {
  background-color: var(--option-item-hover-color);
}

.header__cart-item-img {
  width: 48px;
  height: 48px;
  margin: 12px;
  border: 2px solid var(--border-color);
}

.header__cart-item-info {
  flex: 1;
  margin: 12px 12px 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__cart-item-head {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.header__cart-item-name {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  margin: 0;
  text-align: left;
  flex: 1;
}

.header__cart-ite-price-wrap {
  width: 120px;
  text-align: right;
}

.header__cart-item-price {
  font-size: 1.4rem;
  color: var(--primary-color);
  font-weight: 400;
}

.header__cart-item-multiply {
  font-size: 0.9rem;
  margin: 0 4px;
  color: #757575;
}

.header__cart-item-quantity {
  font-size: 1.2rem;
  color: #757575;
}

.header__cart-item-body {
  display: flex;
  justify-content: space-between;
}

.header__cart-item-description {
  font-size: 1.2rem;
  font-weight: 300;
  color: #757575;
}

.header__cart-item-remove {
  font-size: 1.4rem;
  color: var(--text-color);
  cursor: pointer;
}

.header__cart-item-remove:hover {
  color: var(--primary-color);
}

.header__cart-review {
  float: right;
  margin: 12px 12px 12px 0;
}

/* App container */
.app__container {
  background-color: #fff2ff;
}

.product-container {
  padding-top: 36px;
}

.product-category {
  background-color: var(--white-color);
  border-radius: var(--border-radius-default);
}

.product-category__heading {
  font-size: 1.7rem;
  padding: 10px 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin-top: 0;
}

.product-category__heading-icon {
  font-size: 1.4rem;
  margin-right: 4px;
  position: relative;
  top: 1px;
}

.product-category-list {
  padding: 0 0 2px 0;
  list-style-type: none;
}

.product-category-item--active .product-category-item__link {
  color: var(--primary-color);
}

.product-category-item--active .product-category-item__link::before {
  position: absolute;
  content: "";
  border-style: solid;
  border-width: 4px;
  border-color: transparent transparent transparent var(--primary-color);
  /* top: 50% nghĩa là = 50% chiều cao của thẻ chứa nó - product-category-item__link  */
  top: calc(50% - 1px);
  /* transform: translateY(-50%) nghĩa là di chuyển theo trục Y (dọc), -50% là đi ngược lên 50% chiều cao của chính mũi tên tính từ điểm bắt đầu(ở đây là giữa thẻ chứa nó - product-category-item__link */
  transform: translateY(-50%);
  left: 7px;
}

.product-category-item__link {
  position: relative;
  left: 0;
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 8px 16px;
  display: block;
  transition: left linear 0.1s;
}

.product-category-item__link:hover {
  color: var(--primary-color);
  left: 4px;
}

/* Product sort + filter */
.product-filter {
  background-color: #fcdefc;
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: var(--border-radius-default);
}

.product-filter__label {
  color: var(--text-color);
  font-size: 1.4rem;
  margin-right: 16px;
}

.product-filter__btn {
  margin-right: 12px;
  min-width: 90px;
}

.product-filter__paging {
  display: flex;
  align-items: center;
}

/* Paging control */
.product-filter__paging {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.product-filter__paging-page {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-right: 22px;
}

.product-filter__paging-page-current {
  color: var(--primary-color);
}

.product-filter__paging-control {
  border-radius: var(--border-radius-default);
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}

.product-filter__paging-btn {
  text-decoration: none;
  flex: 1;
  background-color: var(--white-color);
  display: flex;
}

.product-filter__paging-btn--disabled{
  background-color: #f9f9f9;
  cursor: default;
}

.product-filter__paging-btn--disabled .product-filter__paging-icon{
  color: #ccc;
}

.product-filter__paging-btn:first-child{
  border-right: 1px solid #eee;
}

.product-filter__paging-icon{
  margin: auto;
  font-size: 1.4rem;
  color: #555;
}
/* All product */
.product-item{
  background-color: var(--white-color);
  margin-top: 10px;
}

.product-item__img{
  /* padding-top: 100% - 100% ở đây là = width của parent chứa nó */
  padding-top: 100%;
  background-repeat: no-repeat;
  /* background-size
    -contain: thu nhỏ ảnh lại(nếu ảnh to) để vừa khung hình và giữ tỉ lệ => sẽ xuất hiện khoảng trống nếu tỉ lệ hình và khung chứa khác nhau.
    -cover: thu nhỏ ảnh lại(nếu ảnh to) và sẽ lấp đầy khung chứa theo tỉ lệ khung chứa, => bị mất ảnh 1 phần nếu tỉ lệ hình và khung chứa khác nhau.
  */
  background-size: cover;
  /* background-position: center để lấy trọng tâm là giữa ảnh */
  background-position: center;
}

.product-item__name{
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: var(--text-color);
  height: 3.6rem;
  margin: 8px;

  /* Chỉnh giao diện để text chỉ hiển thị 2 dòng nếu dài hơn sẽ hiện dấu ... 
  Lưu ý: chỉ hỗ trợ cho phiên bản Edge 17, Firefox 68, Safari 5, Chrome 6, Opera 15 trở lên*/
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product-item__price{

}

.product-item__price-old{

}

.product-item__price-current{

}

.product-item__action{

}

.product-item__wish-list{

}

.product-item__rating{

}

.product-item__origin{

}

.product-item__brand{

}

.pproduct-item__origin-country{

}

.product-item__favorite-label{

}

.product-item__sale-off{

}

.product-item__sale-off-percent{

}

.product-item__sale-off-label{

}
