.header {
  height: 120px;
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

/* Header navbar */
.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  margin-top: 4px;
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-item--show-qr:hover .header__qr {
  display: block;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item--strong {
  font-weight: 500;
}

/* Tạo gạch thẳng đứng ngăn cách giữa item */

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fb9086;
  height: 14px;
  right: -9px;
  top: 5px;
}

.header__navbar-icon-link {
  text-decoration: none;
  color: var(--white-color);
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 5px;
}

.header__navbar-title--no-pointer {
  cursor: text;
}

/* Remove default hover của .header__navbar-item:hover */
.header__navbar-title--no-pointer:hover {
  cursor: text;
  color: var(--white-color);
}

/* Header QR Code */
.header__qr {
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  padding: 8px; /*100% chiều cao của parent chứa */
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.2s;
}

.header__qr::before {
  content: "";
  width: 100%;
  display: block;
  height: 20px;
  top: -10px;
  left: 0;
  position: absolute;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
  padding: 0 11px;
  flex-wrap: wrap;
  align-content: space-between;
  height: 35px;
}

.header__qr-download-img {
  height: 15px;
}

/* Header notification */
.header__navbar-item--show-notify:hover .header__notify {
  display: block;
}

.header__notify {
  position: absolute;
  top: calc(100% + 4px);
  right: 0;
  width: 404px;
  background-color: var(--white-color);
  border: 1px solid #d3d3d3;
  cursor: default;
  /* transform-origin để set vị trí bắt đầu cho animation growth ở giữa label Thông báo  */
  transform-origin: calc(100% - 40px) top;
  animation: headerNotifyGrowth ease-in 0.2s;
  display: none;
}

/* Làm dấu mũi tên ^ trỏ vào chữ thông báo cho bảng thông báo */
.header__notify::before {
  content: "";
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent var(--white-color);
  position: absolute;
  top: -29px;
  right: 2px;
}

.header__notify::after {
  content: "";
  display: block;
  position: absolute;
  width: 150px;
  height: 20px;
  right: 0;
  top: -16px;
}

@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
  cursor: default;
}

.header__notify-header h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 40px;
  user-select: none;
}

.header__notify-list {
  padding-left: 0;
}

.header__notify-item {
  background-color: rgba(238, 77, 45, 0.08);
}

.header__notify-item--seen {
  background-color: var(--white-color);
}

.header__notify-item:hover {
  background-color: #f7f7f7;
}

.header__notify-link {
  display: flex;
  padding: 12px;
  text-decoration: none;
  width: 100%;
}

.header__notify-img {
  width: 48px;
  object-fit: contain;
}

.header__notify-info {
  flex: 1;
  margin-left: 12px;
}

.header__notify-name {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.8rem;
}

.header__notify-description {
  display: block;
  font-size: 1.2rem;
  color: #756f6e;
  line-height: 1.6rem;
  margin-top: 4px;
}

.header__notify-footer {
  text-align: center;
}

.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 8px 0;
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
}

/* Auth Modal */
/* Register form */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}

.auth-form__form {
  width: 100%;
}

.auth-form__group {
  width: 100%;
  margin-top: 16px;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  outline: none;
}

.auth-form__input:focus {
  border-color: #777;
}

.auth-form__aside {
  margin-top: 18px;
}

.auth-form__policy-text {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.auth-form__text-link {
  color: var(--primary-color);
  text-decoration: none;
}

.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}
.auth-form__controls-back {
  margin-right: 8px;
}

.auth-form__socials {
  background-color: #f5f5f5;
  padding: 16px 36px;
  margin-top: 16px;
  display: flex;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
}

.auth-form__socials-facebook {
  color: var(--white-color);
  background-color: #3a5a98;
  flex: 1;
}

.auth-form__socials-google {
  background-color: var(--white-color);
  color: #666;
  margin-left: 8px;
  flex: 1;
}

.auth-form__controls-title {
  margin: auto;
}

/* Login form */
.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #939393;
}

.auth-form__help-forgot{
  color: var(--primary-color);
}

.auth-form__help-separate{
  border: 1px solid #eaeaea;
  margin: 0 16px;
}

.auth-form__socials-sms {
  background-color: rgb(2, 177, 25);
  color: var(--white-color);
  margin-right: 8px;
  flex: 1;
}
